<template>
  <h1>Hola soy contact</h1>
  <p>Una variable -> {{variable}}</p>
  <Botzer :mojo='"Extra"' />
</template>

<script>
import Botzer from '../components/Botzer';
export default {
  components:{
    Botzer,
  },
  setup(){
    const variable = "Hola soy Const!";
    return{
      variable
    }
  }
}
</script>

<style>

</style>