<template>
  <h1>Estamos en el juego</h1>
  <p>{{$route.params.name}}</p>
  <button @click=load>Cargar</button>
</template>

<script>
import {useRoute, useRouter} from "vue-router";
export default {
    setup(){
        const router = useRouter();
        const route = useRoute();
        console.log(route.params);

        const load = () => {
            console.log("cargando");
            setTimeout(() => {
                router.push('/');
            }, 3000);
            
        };
        return{
            load
        }
    }
}
</script>

<style>

</style>