<template>
  y te traje este componente con {{mojo}} MOJO!
</template>

<script>
export default {
    props:{
        mojo:{
            type:String,
            default:"low"
        }
    },
    setup(props){
        console.log(props.mojo);
        const {mojo} = props;
        return{
            mojo
        }
    }
}
</script>

<style>

</style>